body{
    background-color: darkorange;
    background: url(http://www.portoalegre.travel/upload/b/157/1570178_wallpaper-%E0%B8%AB%E0%B8%B4%E0%B8%99%E0%B8%AD%E0%B9%88%E0%B8%AD%E0%B8%99.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}