h1,p, body {
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    font-family: 'Hanalei Fill';
    color: #1f52a5;
    font-size: 3.875rem;
    margin-top: 20px;
}

p{
    padding-left: 30px;
    font-size: 7.200rem;
    color: blue;
    font-family: 'Hanalei Fill'; 
}

.dupa{
    margin-top: 40px;
}

#niedupa{
    background-color: darkred;
    width: 300px;
    margin: auto;
}

body{
    background-color: black;
    background: url(https://best-wallpaper.net/wallpaper/3840x2160/1712/Quarry-dust-mining-rocks-conveyor_3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nasza-nawigacja{
    text-align: center;
}

.nasza-nawigacja ul li{
    list-style-type: none;
    display: inline-block;
    background-color: red;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.7s;
}

.nasza-nawigacja ul li:hover{
    transform: scale(1.2);
    background-color: blue;
}