h1, body, p {
    margin: 0;
    padding: 0;
}


a{
    color: white;
    text-decoration: none;
}

h1
{
    text-align: center;
    color: #1f52a5;
    font-size: 3.875rem;
    margin-top: 20px;
}

p{
    padding-left: 30px;
    font-size: 3.200rem; 
}

.dupa{
    margin-top: 40px;
    color:white;
}


#niedupa{
    background-color: darkred;
    width: 300px;
    margin: auto;
}

body{
    background-color: black;

    font-family: 'Lato', sans-serif;
}

.nasza-gora{
    background: url(https://best-wallpaper.net/wallpaper/3840x2160/1712/Quarry-dust-mining-rocks-conveyor_3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
    position: sticky;
    top: 0px;
}

.nasza-nawigacja{
    text-align: center;
}

.nasza-nawigacja ul li{
    list-style-type: none;
    display: inline-block;
    background-color: red;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.7s;
    margin: 0;

}

.nasza-nawigacja ul li:hover{
    transform: scale(1.2);
    background-color: blue;
    
}

.drugi-contener{
background-color:darkblue;

}
.no-fajnie{
background-color:hotpink;
color: yellow;
height: 200px;
text-align: center;
}

.dziwny-kot{
    background: url("../img/VOLVO-Crawler-Excavator-EC210D.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-attachment: fixed;
}


.zdjecie-kota
{width: 600px;
    margin:auto;
    display:block;
margin-top: 118px;
    border-radius: 200px 200px 200px 200px;
    opacity: 0.9;
    border: 5px solid red;
transition: all 1s;
}

.zdjecie-kota:hover{
    border: 10px dashed blue;
}
h2{
text-align: center;
}

.hahaha{
    margin-top: 80px;
}
.jeden{
   font-family:'Ruslan Display', cursive; 
    margin-top: 40px;
    text-align: center;
    font-size: 70px;
    color: #ff8800;
   
        
}
.tekst{
    font-size: 60px;
    font-family: 'Do Hyeon', sans-serif;
    color: #00b2ff;
    text-align: center;
}

.zdziwiony-kotek{
    background: url(../img/cat1.jpg);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: all  0.5s;
}

.zdziwiony-kotek:hover{
     background: url(../img/cat3.jpg);
      background-repeat: no-repeat;
    background-size: cover;
}

.mini-banner{
    width:300px;
    height: 300px;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
    background: url(../img/cat3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.inner-mini-banner{
    background-color: blue;
    width:0;
    height: 100%;
    transition: all 0.5s;
    opacity: 0.5;
}

.mini-banner:hover .inner-mini-banner{
    width: 100%;
}

.mini-banner2{
    width:300px;
    height: 300px;
    margin-left: 200px;
    margin-top:100px;
    margin-bottom: 100px;
    background: url(../img/cat3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.inner-mini-banner2{
    background-color: blue;
    width:100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 0.5;
    position: relative;
    left: -300px;
    text-align: center;
    line-height: 300px;
}

.mini-banner2:hover .inner-mini-banner2{
    left: 0;
    
}
.filmy{
    color: blue;
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
    
}
.telefon{
    width: 500px;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.tekst-zdj{
    color: white;
    font-size: 2.200rem;
    margin-left: 400px;
   
    
}